SUPABASE_ENABLED=true
SUPABASE_PHASE1_ENABLED=true
SUPABASE_URL=https://rowurliqqlrwevcqlbpr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvd3VybGlxcWxyd2V2Y3FsYnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0OTY5OTEsImV4cCI6MjA5MjA3Mjk5MX0.fBYnj_ogDYp0e7s9Snvj9PPc9fkU_eFBh6lzqSkRWz8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvd3VybGlxcWxyd2V2Y3FsYnByIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQ5Njk5MSwiZXhwIjoyMDkyMDcyOTkxfQ.41eY8iZ4iNK_lYUe9-BsJAhgjrVT8BrDhYC2ES-ZEqo
SUPABASE_JWT_SECRET=mIZ5Hm4ZdD9emdgskyS4GmvCLWRxx1uoIbr6pMdcW0SDqV/Ow5132Vc0MYRUwVoxhfVdjza49ZO5bhj5bCfRcA==
SUPABASE_INVITE_REDIRECT_URL=http://localhost:5173/auth/callback
SUPABASE_PLATFORM_OWNER_EMAIL=appiture.business@gmail.com
SUPABASE_DOCUMENT_BUCKET=case-documents
